
AirMAY/obj/AirMAY.csproj.nuget.g.props
AirMAY/obj/AirMAY.csproj.nuget.g.targets
AirMAY/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.AssemblyInfo.cs
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.AssemblyInfoInputs.cache
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.assets.cache
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.csprojAssemblyReference.cache
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.designer.deps.json
AirMAY/obj/Debug/netcoreapp3.1/AirMAY.designer.runtimeconfig.json
AirMAY/obj/Debug/netcoreapp3.1/AirMAY_MarkupCompile.i.cache
AirMAY/obj/Debug/netcoreapp3.1/App.g.i.cs
AirMAY/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
AirMAY/obj/project.assets.json
AirMAY/obj/project.nuget.cache
AirMAY/obj/AirMAY.csproj.nuget.dgspec.json
